<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
  <div class="container-fluid vh-100" style="margin-top:-20px">
    <div class="" style="margin-top:100px">
        <div class="rounded d-flex justify-content-center">
            <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                <div class="text-center">
                    <h3 class="text-primary">Crear una cuenta</h3>
                    <div *ngIf="showError" class="alert alert-danger" role="alert">
                      <span [innerHTML]="errorMessage"></span>
                  </div>
                </div>
                <div class="p-4">
                    <form  [formGroup]="registerForm" autocomplete="off" novalidate (ngSubmit)="registerUser(registerForm.value)">
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i
                                    class="bi bi-person-plus-fill text-white"></i></span>
                            <input type="text" class="form-control" formControlName="firstName" placeholder="Nombre">
                        </div>
                        <div class="input-group mb-3">
                          <span class="input-group-text bg-primary"><i
                                  class="bi bi-person-plus-fill text-white"></i></span>
                          <input type="text" class="form-control" formControlName="lastName" placeholder="Apellido">
                      </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i
                                    class="bi bi-envelope text-white"></i></span>
                            <input type="email" class="form-control" formControlName="email" placeholder="Email">
                        </div>
                        <div class="col-md-5">
                          <em *ngIf="validateControl('email') && hasError('email', 'email')">Ingrese un correo electronico valido</em>
                          <em *ngIf="validateControl('email') && hasError('email', 'required')">El correo electronico obligatorio</em>
                      </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i
                                    class="bi bi-key-fill text-white"></i></span>
                            <input type="password" class="form-control" formControlName="password" placeholder="Contraseña">                            
                        </div>
                        <div class="col-md-5">
                            <em *ngIf="validateControl('password') && hasError('password', 'required')">La contraseña es obligatoria</em>
                        </div>  
                        <div class="input-group mb-4">
                          <span class="input-group-text bg-primary"><i
                                  class="bi bi-key-fill text-white"></i></span>
                          <input type="password" class="form-control" formControlName="confirm" placeholder="Confirmar contraseña">
                          <div>
                            <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">Se requiere confirmacion de contraseña</em>
                            <em *ngIf="hasError('confirm', 'mustMatch')">Las contraseña no coinciden</em>
                        </div>
                      </div>                      
                        <div class="d-grid col-12 mx-auto">
                            <button class="btn btn-primary" type="submit" [disabled]="!registerForm.valid" ><span></span> Registrarse</button>
                        </div>
                        <p class="text-center mt-3">¿Ya tienes una cuenta?
                            <a class="text-primary" [routerLink]="['/authentication/login']" >Inicia sesión</a>
                        </p>
                    </form>                    
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>