<div class="mb-3">
  <label  for="clienteId" class="form-label">Filtra por:</label>
  <select (click)="OpcionesFiltro(filtro)" class="form-control" name="filtro" id="filtro" [(ngModel)]="filtro" >
    <option *ngFor="let type of opcionesFlitro">{{type}}</option>
  </select>
</div>

<div class="mb-3"  *ngIf='MostrarFiltroCliente'>
  <label  for="clienteId" class="form-label">Cliente</label>
  <select class="form-control" name="clienteId" id="clienteId" [(ngModel)]="clienteId" >
    <option *ngFor="let type of ListaCompleta" [value]="type.id">{{type.nombre}} {{type.apellido}}</option>
  </select>
  <button type="button" class="btn btn-primary float-end m-2"
data-bs-target="#staticBackdrop" (click)="MostrarPedidos()">    
    Buscar
  </button>
  <button type="button" class="btn btn-primary float-end m-2"
data-bs-target="#staticBackdrop" (click)="MostrarClientes()">    
    Eliminar Filtro
  </button>
</div>

<div *ngIf='MostrarFiltroFecha'>
  <div class="mb-3">
    <label for="clave" class="form-label">Desde</label>
    <input [formControl]="dateObjectControl" class="form-control"  type="date" id="date-object" [(ngModel)]="fechaInicio"  name="Fecha" />
  </div>
  <div class="mb-3">
    <label for="clave" class="form-label">Hasta</label>
    <input [formControl]="dateObjectControl" class="form-control"  type="date" id="date-object" [(ngModel)]="fechaFin"  name="Fecha" />
  </div>
  <button type="button" class="btn btn-primary float-end m-2"
  data-bs-target="#staticBackdrop" (click)="fitrarFecha()">    
      Buscar
    </button>
    <button type="button" class="btn btn-primary float-end m-2"
  data-bs-target="#staticBackdrop" (click)="MostrarClientes()">    
      Eliminar Filtro
    </button>
</div>

<div *ngIf='MostrarFiltroEntregado'>
  <button type="button" class="btn btn-primary float-end m-2"
data-bs-target="#staticBackdrop" (click)="filtrarEntregados()">    
    Buscar
  </button>
  <button type="button" class="btn btn-primary float-end m-2"
data-bs-target="#staticBackdrop" (click)="MostrarClientes()">    
    Eliminar Filtro
  </button>
</div>

<div *ngIf='MostrarFiltroNoEntregados'>
  <button type="button" class="btn btn-primary float-end m-2"
data-bs-target="#staticBackdrop" (click)="filtrarNoEntregados()">    
    Buscar
  </button>
  <button type="button" class="btn btn-primary float-end m-2"
data-bs-target="#staticBackdrop" (click)="MostrarClientes()">    
    Eliminar Filtro
  </button>
</div>

<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Descripcion</th>
        <th>Fecha de entrega</th>
        <th>Tamaño del Paquete</th>
        <th>Cliente</th>
        <th>Fragilidad 1-10</th>
        <th>Estado</th>

    </thead>
    <tbody>
        <tr *ngFor="let item of ListaCompleta2">
            <td>{{item.id}}</td>
            <td>{{item.descripcion}}</td>
            <td>{{item.fechaEntrega | date:'shortDate'}}</td>    
            <td>{{MapTamanio.get(item.tamanioPaqueteId)}}</td>
            <td><a style="color: blue;" (click)="modalInformation(item)" data-bs-toggle="modal" data-bs-target="#staticBackdrop">{{MapClienteNombre.get(item.clienteId)}}</a></td>
            <td>{{item.nivelFragilidad}}</td>   
            <td>{{MapEstado.get(item.estadoPaqueteId)}}</td>   
            <td>
                <button class="btn btn-outline-primary me-2 mb-1"
              (click)="modalEdit(item)" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> 
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
              </button>
            </td>
        </tr>        
    </tbody>
</table>

<div class="alert alert-success" role="alert" id="update-success-alert">
    Estado Cambiado
  </div>

  <!-- Add or edit new user Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{modalTitle}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="modalClose()" id="add-edit-modal-close"
          ></button>
        </div>
        <div class="modal-body">
            <app-add-edit-pedidos-v [pedido]="pedidos" *ngIf="activeAddEditPedidosComponent"></app-add-edit-pedidos-v>
      </div>
      <div class="modal-body" *ngIf="MostrarDatosCliente">
        <div>
          <div *ngFor="let item of clienteSeleccionado" class="mb-3">
            <div>
              <label for="email" class="form-label">Nombre : {{item.nombre}}</label>
            </div>
            <div>
              <label for="email" class="form-label">Apellido : {{item.apellido}}</label>
            </div>
            <div>
              <label for="email" class="form-label">Telefono : {{item.telefono}}</label>
            </div>
            <div>
              <label for="email" class="form-label">Cedula : {{item.cedula}}</label>
            </div>            
            <div>
              <label for="email" class="form-label">Ciudad : {{MapCiudad.get(item.cuidadId)}}</label>
            </div>
            <div>
              <label for="email" class="form-label">Barrio : {{item.barrio}}</label>
            </div>
            <div>
              <label for="email" class="form-label">Direccion : {{item.direccion}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>